/* App.css */
body{
  margin-top: 60px;
  background-color: cornsilk;
  font-family: 'Libre Baskerville', serif;
}
.App {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    font-family: 'Libre Baskerville', serif;
  }
  
  h2 {
    margin-bottom: 20px;
    color: chocolate;
  }

  h1 {
    margin-bottom: 20px;
    color: chocolate;
  }
  

  .check-bx{
    display: flex;
    align-items: baseline;
  }


  .question{
    color: brown;
    text-decoration-line: underline;
  }
  .remove-btn{
    height: auto;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 90px;
    cursor: pointer;

  }
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;

    margin-top: 5px;
    color: brown;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="date"],
  textarea,
  select {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #dba322;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
  }
  
  
  @media screen and (min-width: 768px) {
    .App {
      padding: 40px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .App {
      max-width: 1000px;
    }
  }
  